.hero-section {
    background: url("../images/Parallax/Parallax_Discovery.jpg");
    padding: 10rem 0;
    background-attachment: fixed;
    background-size: cover;
}

.hero-section_b {
    background: url("../images/Parallax/DBS_MicroSite_Discovery_Parallax_b.jpg");
    padding: 80px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section_c {
    background: url("../images/Parallax/DBS_MicroSite_Home_Parallax.jpg");
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section_d {
    background: url("../images/Parallax/DBS_MicroSite_Home_Parallax.png");
    padding: 80px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section_e {
    background: url("../images/Bg/impress-bg.png");
    padding: 180px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section_ee {
    background: url("../images/Parallax/DBS_MicroSite_Home_Solutionb.jpg");
    padding: 180px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section_f {
    background: url("../images/Parallax/DBS_MicroSite_Consolidation_Parallax.jpg");
    padding: 80px 0;
    background-attachment: fixed;

    background-size: cover;
}

.hero-section_g {
    background: url("../images/Discovery/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section_gg {
    background: url("../images/Discovery/bgc.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}